* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffdfb8;
    overflow-x: hidden;
    padding: 6rem 0 0;
    width: 100%;
   
 
}



  
body, html {
    height: 100%;
    
}

.no-corbata {
    flex: 1 0 auto;
}

html {
    scroll-behavior: smooth;
  
}



.arrow-up {
    width: 50px;
    height: 50px;
    background-color: #212529;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-up::before {
    content: "\︽";
    font-size: 40px;
    color: #ff0505;
}

.img-logo {
    width: 30vw;
}

@media (min-width: 768px) {
    .img-logo {
        width: 80%;
        margin-left: 1rem;
    }
}

@media (min-width: 992px) {
    .img-logo {
        width: 10vw;
    }

    .content {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}


.navbar-toggler:focus {
    box-shadow: none; 
 }
 .navbar-toggler {
     border: none; 
     }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
    border: 2px solid red;
}

 /* Sección presentación */
#Servicios { 
    background: #212529;
    color: #ececec;
    

   
   
}

#Quiensoy p { 
    background: #212529;
    color: #ececec;
       
 }
 
 


@media(min-width: 992px) {
    #Servicios { 
        border-radius: 50% 20% / 10% 40%;
        width: 75%;
        margin-left: auto;
        margin-right: auto; 
    }
    #Quiensoy p { 
        border-radius: 50% 20% / 10% 40%;
        width: 75%;
        
   
     }
   
}
@media(min-width: 767px) {
    #Servicios { 
        border-radius: 50% 20% / 10% 40%;
        width: 75%;
        margin-left: 6rem;
        margin-right: auto; 
        padding-left: auto;
        padding-right: 4rem;
    }
    #Quiensoy p { 
        border-radius: 50% 20% / 10% 40%;
        width: 75%;
        font-size: 22px;
        
        
        
     }
   
}


/* Sección de testimonio de contacto.html */
.carousel-caption {
    color: #3dc1caf1;
    font-weight: 600;
}



.carrusel {
    width: 50%;
    /* margin-left: 100px; */
}

/* Información de contacto.html */



.info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Reduce el margen inferior para acercar la información al formulario */
    
}

.info img {
    width:  100%; /* Utiliza el ancho completo para que la imagen se ajuste al ancho de la información */
     /* Establece un ancho máximo para evitar que la imagen sea demasiado grande en pantallas grandes */
    margin-bottom: 20px; /* Reduce el margen inferior para acercar la imagen al texto */
}

.info p {
    font-size: 1rem;
    width: 100%; /* Utiliza el ancho completo para el texto */
    text-align: center; /* Alinea el texto al centro en dispositivos pequeños */
}



@media (min-width: 992px) {
    .info {
        grid-template-columns: repeat(2, 1fr);
    }
   
}


@media (min-width: 768px) {
    
    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px; /* Vuelve a aumentar el margen inferior en pantallas más grandes */
    }

    .info img {
        width: 80%;
        margin-left: 0;
       
    }
    .info p {
        font-size: 1rem;
        width: 100; /* Cambia a "auto" para utilizar el ancho original del contenedor de texto */
        text-align: left; /* Alinea el texto a la izquierda en dispositivos más grandes */
        margin-left: -40px;
    }
}


/* preloander */
.preloader {
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
    
}

.preloader img {
    width: 300px; /* Ajusta el tamaño de tu logo */

}



.loading-bar {
    width: 0;
    height: 4px; /* Altura de la barra de carga */
    background-color: #cecece; /* Color de la barra de carga */
    margin-top: 10px;
}


/* formulario */


.fixed-form {
    position: fixed;
    top: 20px;
    right: 0;
    width: 100%;
    background-color:  #212529;
    padding: 15px;
    color: white;
}
.content {
    width: 100%;
}
/* texto de aviso legal formulario */
#aviso-legal {
    font-size: 14px;
    margin-bottom: 20px;
}
#aviso-legal a {
    text-decoration: none;
    color: #f24a0c;
   
}
#aviso-legal a:hover {
    color: #fff;
   
}
#read-more-link {
    cursor: pointer;
}
/* aviso legal pagina */
#Avisolegal a {
    text-decoration: none;
    color: #f24a0c;
}
#Avisolegal a:hover {
    color: #000;
}
/* politica de cookies */
#Loscookies a {
    text-decoration: none;
    color: #f24a0c;
   
}
#Loscookies a:hover {
    color: #000;
   
}
@media (min-width: 1200px) {
    .fixed-form {
        width: 25vw; /* Ajusta el ancho para dispositivos grandes */
        padding: 20px; /* Ajusta el relleno para dispositivos grandes */
        box-shadow: -9px 0 7px rgba(31, 31, 31, 0.432);
        height: 100vh;

    }
    .content {
        width:75vw;
    }
}



@media (max-width: 1200px) {
    .fixed-form {
        position: static; 
        width: 100%; 
        /*top: auto; 
        /*left: 30px;*/
        background-color: #212529; 
        padding: 50px; 
        margin: 20px 0;
        color: #ffffff;
        box-shadow: -8px 8px 5px rgba(122, 121, 121, 0.616);
    }
}

/* efecto de maquina de escribir */
.typewriter p {
    display: inline-block;
    overflow: hidden; 
    border-right: .15em solid #ff2014;
    white-space: wrap; 
    font-size: 24px;
    text-align: left;
    animation: typing 1s steps(20) 0s both;
  }

 

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    70% {
      border-color: rgb(255, 94, 0);
    }
  }
  
/* ocultar texto */
.hideText {
    display: none;
  }
  
  .first-half.showText, .second-half.showText {
    display: block;
  }
  
/* checkbox */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}


/* efecto de mouse */
.instagram-icon {
    display: inline-block;
    font-size: 24px;
    transition: transform 0.2s; /* Agrega una transición de 0.2 segundos a la propiedad "transform" */
  }
  
  .instagram-icon:hover {
    transform: scale(1.2); /* Escala el ícono al 120% del tamaño original al pasar el mouse por encima */
    animation: bounce 0.99s; /* Aplica una animación llamada "bounce" durante 0.4 segundos */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
/* Footer */

footer {
    position: relative; 
    bottom: 0;
    width: 100%;
    background-color: #212529;
    z-index: 2;
    padding: 10px; 
}

.footer-links a,.footer-links {
    text-decoration: none;
    color: white;
}

.footer-links a:hover,.footer-links:hover {
    color: #f24a0c;
}

#Contacto:focus {
    box-shadow: none; 

}



