.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo-imagen {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inicio-section {
  margin-top: 70px;
  overflow-x: hidden;
}

.inicio-section p {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  margin: 0 auto;
  padding: 0 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .inicio-section p {
    font-size: 0.875rem;
    text-align: justify;
    line-height: 1.5;
    padding: 0.5rem;
    margin-right: 1.8rem;
  }

  .inicio-section {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .logo-imagen {
    max-width: 500px;
  }

  .inicio-section {
    margin-top: 60px;
  }

  .inicio-section p {
    font-size: 1rem;
    line-height: 1.8;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1025px) {
  .inicio-section {
    margin-top: 60px;
  }

  .inicio-section p {
    font-size: 1.125rem;
    line-height: 1.8;
    padding: 0 2rem;
  }

  .logo-imagen {
    max-width: 500px;
  }
}
